.rl {
    border-left: 1px solid #DDD;
}
.hl{
    border-bottom: 1px solid #DDD;
}/*
.flytt {
    width: 600px;
    height: 400px;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 100px;
}

/*Line chart. Hentet fra */
/*#formControlSelect{
    width: 40%;
}

.statistikkKolonne{
    margin-left: 75px;
}
.medlemmerKolonne{
    margin-left: 75px;
}*/

#nyhetsChart{}

#vareChart{}

#gjøremålsChart{}

.chart {
    width: 100%;
    min-height: 450px;
}